﻿@{
    ViewBag.Title = "Secure Version";
}
<h1>@ViewBag.Title</h1>
<p>Welcome, please log in</p>
@using (Html.BeginForm("index", null, FormMethod.Post))
{   
    //Generated anti forgery token and passed in post request.
    @Html.AntiForgeryToken()
    <center>
        <table border="1" cellpadding="3" style="width:30%">
            <thead>
                <tr>
                    <th colspan="2">
                        Login Here<br />
                        <span style="color:green;">
                            @ViewBag.success
                        </span>
                        @Html.ValidationSummary()

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" name="userName" value="" autocomplete="off" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value="" autocomplete="off" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Login" /></td>
                </tr>
            </tbody>
        </table>
    </center>
}