﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .validation-summary-errors {
            color: red;
        }

            .validation-summary-errors ul {
                padding: 0px;
                margin: 0px;
                list-style: none;
            }
    </style>
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>